@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (html:not(.dark) &);

@import "@tabler/icons-webfont/dist/tabler-icons.css";
@import "@fontsource-variable/jetbrains-mono";
@import "./custom.css";
@import "./input.css";

@theme {
    --color-dark: rgb(13 13 13);
    --color-selection: oklch(87.2% 0.01 258.338);
}

* {
    font-variant-ligatures: contextual;
    font-family: "JetBrains Mono Variable", monospace;
}

body {
    @apply text-zinc-900 dark:text-zinc-100;
}

@view-transition {
    navigation: auto;
}

/* Custom text selection color */
::selection {
    background-color: var(--color-selection);
}

::-moz-selection {
    background-color: var(--color-selection);
}
